{% extends 'base.html' %}
{% block title %}
LOGIN PAGE
{%endblock%}
{% block content%}
<body class="text-center dark-background bg-img">
    <div class="container">
        
        <form method="POST" class="form-signin" style="color: white; margin-top:100px;">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <h1 class="h3 mb-3 font-weight-normal">
                Please Login First
            </h1>
            <div class="row-1 form-group">
                <label class="form-label" for="email_address">Email address</label>
                <br>
                <input type="text" name="email_address" id="Email" required>
            </div>
            <div class="row-3 form-group">
                <label class="form-label" for="password">Password</label>
                <br>
                <input type="password" name="password" id="password" required>
            </div>
           
            <button id="submit-btn" type="submit" class=" btn-outline btn-primary " value="Register">Login</button>

            <div class="checkbox">
                <a href={{ url_for('auth.register') }} style="color: #24c64f;">Do not have an account yet ?</a>
            </div>
        </form>
</body>



</style> 

{%endblock%}